
    <h1>My To Do List</h1>


    <ul class="todo_list">
    
      @for(i of tasks; track $index) {
        <app-task-item [task]="i"></app-task-item>
        }

      <!-- <app-task-item [task]="tasks[0]"></app-task-item>
      <app-task-item></app-task-item>
      <app-task-item></app-task-item> -->

        <!-- <li class="done important">Pay bills
            <span class="deadline">29.03.2023</span>
        </li>
        <li>Meet John</li>
        <li class="important">Buy eggs
            <span class="deadline">29.03.2023</span>
        </li>
        <li class="done">Read a book</li>
        <li>Organize office</li>
        <li>Eat dinner</li>
        <li class="important">Buy apples
            <span class="deadline">05.03.2023</span>
        </li>
        <li class="important">Meet George</li>
        <li>Feed the cat</li>
        <li class="done">Write a letter</li>
        <li>Run 1 km
            <span class="deadline">15.01.2022</span>
        </li> -->
    </ul>
